<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>実施者情報更新フォーム画面 | 管理者 面談予約システム</title>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />


<!-- JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.autoKana.js}"></script>

<!-- ふりがな自動入力処理 -->

<script type="text/javascript">
	
	$(function() {
		$.fn.autoKana("#name", "#kana");
	});
	
</script>


</head>
<body>
	
	<header th:replace="~{/manager/layouts/layout :: common_header_after}">
		
		
	</header>
	
	
	
	<main>
		
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">実施者情報更新フォーム</h2>
				
			</div>
			
<!--			<div class="sub-link">-->
				
<!--				<a th:href="@{/manager/interviewer_get(id=${interviewer.id})}">実施者詳細へ</a>-->
				
<!--			</div>-->
			
			
		</div>
		
		
		
		
		<div class="container">
			
			<p class="err" th:text="*{set_result}"></p>
			

			
			<form th:action="@{/manager/interviewer_update}" method="post" th:object="${interviewer_set_data}" class="form">
				
				
				
				<div>
					
					<label>実施者名</label>
					<input type="text" th:field="*{name}" required />
					
					<input type="hidden" th:field="*{hidName}" required />

				</div>
				
				<div>
					
					<label>ふりがな</label>
					<input type="text" th:field="*{kana}" required />
					
					<input type="hidden" th:field="*{hidKana}" required />

				</div>
				
				<div>
					
					<label>メールアドレス</label>
					<input type="email" th:field="*{email}" required />
					
					<input type="hidden" th:field="*{hidEmail}" required />

				</div>
				
				<div>
					
					<label>パスワード</label>
					<input type="password" th:field="*{pass}" required />
					

				</div>
				
				<div>
					
					<label>パスワード【再】</label>
					<input type="password" th:field="*{repass}" required />
					
				</div>
				
				
				<div class="submit-btns">
					
					<input type="submit" value="更新" />

				</div>

				
			</form>
			
			
		</div>
		
		
	</main>
	
	<footer th:replace="~{/manager/layouts/layout :: common_footer_after}">
		
	</footer>


	<script th:src="@{/js/original.js}"></script>

</body>
</html>