<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者情報確認画面 | 管理者 面談予約システム</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<!-- JavaScript で使用する値受け取り-->

<body>
	
	<header th:replace="~{/manager/layouts/layout :: common_header_after}">
		

		
	</header>
	
	
	<main>
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">管理者情報確認</h2>
				
			</div>
			
	<!--		<div class="sub-link">-->
				
	<!--			<a th:href="@{/interviewer/signup}">会員登録へ</a>-->
				
	<!--		</div>-->
			
			
		</div>
		
		
		<div class="container">
			
			<table class="table border-off" th:object="${manager}">
				
				<tr>
					
					<td class="tr-title">管理者名</td>
					<td th:text="*{name}" class="tr-text"></td>
					
				</tr>
				
				<tr>
					
					<td class="tr-title">ふりがな</td>
					<td th:text="*{kana}" class="tr-text"></td>
					
				</tr>
				
				<tr>
					
					<td class="tr-title">メールアドレス</td>
					<td th:text="*{email}" class="tr-text"></td>
					
				</tr>
				
				<tr>
					
					<td class="tr-title">パスワード</td>
					<td class="tr-text">パスワードは表示されません</td>
					
				</tr>
				

				
			</table>
			
			
<!--			<div class="link-btns">-->
				
<!--				<p><a th:href="@{/manager/interviewer_update(id=${interviewer.id})}">更新</a></p>-->
<!--				<p><a th:href="@{/manager/interviewer_delete(id=${interviewer.id})}" onclick="return confirm('本当に削除しますか?');">削除</a></p>-->
				
<!--			</div>-->
			

			
			
			
		</div>
		
		
	</main>
	
	<footer th:replace="~{/manager/layouts/layout :: common_footer_after}">
		
	</footer>
	
	<script th:src="@{/js/original.js}"></script>
	

	

</body>
</html>