<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー画面 | 予約者</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body th:attr="data-log-msg=${logSuccMsg}">
	
	<header th:replace="~{/users/layouts/layout :: common_header_after}">
		

		
	</header>
	
	
	
	<main>
		
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">メニュー</h2>
				
			</div>
			
	<!--		<div class="sub-link">-->
				
	<!--			<a th:href="@{/users/signup}">会員登録へ</a>-->
				
	<!--		</div>-->
			
			
		</div>
		
		
		
		
		<div class="container">
			
			
			
			
		</div>
		
		
	</main>
	
	<footer th:replace="~{/users/layouts/layout :: common_footer_after}">
		
	</footer>
	
	<script th:src="@{/js/original.js}"></script>
	
	<script>
		
		const logSuccMsg = document.body.dataset.logMsg;
		if (logSuccMsg) window.alert(logSuccMsg);
		
		
	</script>
	

</body>
</html>