<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約情報一覧画面　| 予約者</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body th:attr="data-reservation-delete-result=${reservation_delete_result}">
	

	<header th:replace="~{/user/layouts/layout :: common_header_after}">
		
		
	</header>



	<main>
		
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">予約情報一覧</h2>
				
			</div>
			
			<div class="form-cover">
				
				
				<form class="form search-form" method="get" th:action="@{/user/reservations/search}" th:object="${search_form}">
							
							<div>
								
								<label for="name">実施者検索</label>
								<input type="text" th:field="*{name}" /> 
								
							</div>
							
							<div>
								
								<label for="date">面談日検索</label>
								<input type="date" th:field="*{date}" /> 
								
							</div>
							
							<div>
								
								<label for="time">時間枠選択</label>
								<select th:field="*{time}">
									
									<option value="0">選択してください</option>
									<option value="10">10時から</option>
									<option value="15">15時から</option>
									<option value="17">17時から</option>
									
								</select>
								
							</div>
							
							<div class="submit-btns">
								
								<input type="submit" value="検索" />
								
							</div>
							
							
						</form>
						
						<div class="form-bottom" th:if="${ ( search_form.name != null && !search_form.name.isEmpty() ) || ( search_form.date != null && !search_form.date.isEmpty() ) || search_form.time != 0}">
							
							<a th:href="@{/user/reservations}">一覧に戻る</a>
							
						</div>
						
				
			</div>
			
		</div>
		
		
		
		<div class="container">
			
			
			<table class="reservations-table">
				
				<thead>
					
					<tr>
						
						<th>担当者名</th>
						<th>ふりがな</th>
						<th>面談日</th>
						<th>開始時間</th>
						<th></th>
						
						
					</tr>
					
					
				</thead>
				
				
				<tbody>
					
					<tr th:if="${!#lists.isEmpty(reservations)}" th:each="reservation : ${reservations}">
						
						<td th:text="${reservation.interviewer.name}"></td>
						<td th:text="${reservation.interviewer.kana}"></td>
						<td th:text="${#temporals.format(reservation.date, 'yyyy年M月d日')}"></td>
						<td th:text="${reservation.time.start}"></td>
						<td><a th:href="@{/user/reservation(id=${reservation.id})}">詳細</a></td>
						
					</tr>
					
					
				</tbody>
				
				
				
			</table>
			
			
			
		</div>
		
	</main>
	
	<footer th:replace="~{/user/layouts/layout :: common_footer_after}">
		
	</footer>
	
	<script>
		
		const deleteResult = document.body.dataset.reservationDeleteResult;
		
		if (deleteResult) window.alert(deleteResult);
	
	</script>

</body>
</html>