<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード再設定画面　| ユーザー 面談予約システム</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	
	<header th:replace="~{/user/layouts/layout :: common_header_before}">
		
		
	</header>
	
	
	
	<main>
	
	
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">パスワード再設定画面</h2>
				
			</div>
			
			<div class="sub-link">
				
				<a th:href="@{/user/login}">ユーザーログインへ</a>
				
			</div>
			
			
		</div>
		
		
		
		
		
		<div class="container">
		
			<p class="err" th:text="${repass_result}"></p>
			
			<form th:action="@{/user/pass_reset}" method="post" th:object="${repass_input_data}" class="form">
		
				<div>
					
					<label>新パスワード</label>
					<input type="password" th:field="*{pass}" required />
				
				</div>
				
				<div>
					
					<label>新パスワード【再入力】</label>
					<input type="password" th:field="*{repass}" required />

				</div>
				
				
				<div class="submit-btns">
					
					<input type="submit" value="更新" />
		
				</div>
		
				
			</form>
			

			
		</div>
	
	</main>
		

	<script>
		
		
	</script>
	

</body>
</html>