<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録確認画面 | ユーザー 面談予約システム</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	
	<header th:replace="~{/user/layouts/layout :: common_header_before}">
		
		
	</header>
	
	
	
	<main>
		
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">ユーザー登録確認</h2>
				
			</div>
			
			<div class="sub-link">
				
				<a th:href="@{/user/login}">ログインへ</a>
				
			</div>
			
			
		</div>
		
		
		
		
		<div class="container">
			
			
			<form th:action="@{/user/signup}" method="post" th:object="${user_signup_data}" class="form">
				
				<div>
					
					<label>ユーザーネーム</label>
					<input type="hidden" th:field="*{name}" value="${name}" required /><span th:text="*{name}"></span>

				</div>
				
				<div>
					
					<label>ふりがな</label>
					<input type="hidden" th:field="*{kana}" value="${kana}" required /><span th:text="*{kana}"></span>

				</div>

				<div>
					
					<label>email</label>
					<input type="hidden" th:field="*{email}" value="${email}" required /><span th:text="*{email}"></span>
				
				</div>
				
				<div>
					
					<label>パスワード</label>
					<input type="hidden" th:field="*{pass}" value="${pass}" required /><span>パスワードは表示されません</span>

				</div>

				
				<div class="submit-btns">
					
					<button type="button" onclick="window.location.href='/user/signup/return'">修正</button>	
					<input type="submit" value="登録" />

				</div>

				
			</form>
			

			
			
		</div>
		
		
	</main>


</body>
</html>