<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー情報確認画面 | 面談予約システム</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<!-- JavaScript で使用する値受け取り-->

<body th:attr="data-result=${result}">
	
	<header th:replace="~{/user/layouts/layout :: common_header_after}">
		

		
	</header>
	
	
	<main>
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">ユーザー情報確認</h2>
				
			</div>
			
	<!--		<div class="sub-link">-->
				
	<!--			<a th:href="@{/users/signup}">会員登録へ</a>-->
				
	<!--		</div>-->
			
			
		</div>
		
		
		<div class="container">
			
			<table class="table border-off" th:object="${user}">
				
				<tr>
					
					<td class="tr-title">ユーザー名</td>
					<td th:text="*{name}" class="tr-text"></td>
					
				</tr>
				
				<tr>
					
					<td class="tr-title">ふりがな</td>
					<td th:text="*{kana}" class="tr-text"></td>
					
				</tr>
				
				<tr>
					
					<td class="tr-title">メールアドレス</td>
					<td th:text="*{email}" class="tr-text"></td>
					
				</tr>
				
				<tr>
					
					<td class="tr-title">パスワード</td>
					<td class="tr-text">パスワードは表示されません</td>
					
				</tr>
				

				
			</table>
			
			
			<div class="link-btns">
				
				<p><a th:href="@{/user/user_update}">更新</a></p>
				<p><a th:href="@{/user/user_delete}" onclick="return confirm('本当に退会しますか?');">退会</a></p>
				
			</div>
			

			
			
			
		</div>
		
		
	</main>
	
	<footer th:replace="~{/user/layouts/layout :: common_footer_after}">
		
	</footer>
	
	<script th:src="@{/js/original.js}"></script>
	
	<!-- 会員登録結果があれば ポップアップ -->
	
	<script>
		

		const result = document.body.dataset.result;
		
		if(result) window.alert(result);
		
	

		
	</script>

</body>
</html>