<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面 | 予約者</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	
	<header th:replace="~{/users/layouts/layout :: common_header_before}">
		
		
	</header>
	
	
	
	<main>
	
	
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">ログイン画面</h2>
				
			</div>
			
			<div class="sub-link">
				
				<a th:href="@{/users/signup}">会員登録へ</a>
				
			</div>
			
			
		</div>
		
		
		
		
		
		<div class="container">
		
			<p class="err" th:text="${errMsg}"></p>
			
			<form th:action="@{/users/login}" method="post" th:object="${loginFormInfo}" class="form">
		
				<div>
					
					<label>email</label>
					<input type="email" th:field="*{email}" required />
				
				</div>
				
				<div>
					
					<label>パスワード</label>
					<input type="password" th:field="*{pass}" required />
		
				</div>
				
				<div class="submit-btns">
					
					<input type="submit" value="ログイン" />
		
				</div>
		
				
			</form>
			
		</div>
	
	</main>
		



</body>
</html>