<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面 | 予約者</title>
</head>
<body>
	
	<h2>ログイン画面</h2>
	
	<p class="err" th:text="${errMsg}"></p>
	
	<form th:action="@{/users/login}" method="post" th:object="${loginFormInfo}">

		<div>
			
			<label>email</label>
			<input type="email" th:field="*{email}" />
		
		</div>
		
		<div>
			
			<label>パスワード</label>
			<input type="password" th:field="*{pass}" required />

		</div>
		
		<div>
			
			<input type="submit" value="ログイン" />

		</div>

		
	</form>

</body>
</html>