<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー選択画面 | 予約者</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	
	<header th:replace="~{/users/layouts/layout :: common_header}">
		
		
	</header>
	
	<nav id="sub_nav">
		
		<div class="sub-title">
			
			<h2 class="sub-title">メニュー</h2>
			
		</div>
		
<!--		<div class="sub-link">-->
			
<!--			<a th:href="@{/users/signup}">会員登録へ</a>-->
			
<!--		</div>-->
		
		
	</nav>
	
	
	<main>
		
		<div class="container">
			
			
			
			
		</div>
		
		
	</main>
	

</body>
</html>