<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワードリセットURL送信フォーム画面 | 予約者</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body th:attr="data-repass-email-err1=${repassEmailErr1}">
	
	<header th:replace="~{/users/layouts/layout :: common_header_before}">
		
		
	</header>
	
	
	
	<main>
		
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">パスワードリセットURL送信フォーム</h2>
				
			</div>
			
			<div class="sub-link">
				
				<a th:href="@{/users/login}">ログインへ</a>
				
			</div>
			
			
		</div>
		
		
		
		
		<div class="container">
			
			<p class="err" th:text="${err1}"></p>

			
			<form th:action="@{/users/repass_email}" method="post" th:object="${repassEmailFormInfo}" class="form">
				
				<div>
					
					<label>登録済みのメールアドレス</label>
					<input type="email" th:field="*{email}" required />

				</div>
				
				
				<div class="submit-btns">
					
					<input type="submit" value="送信" />

				</div>

				
			</form>
			
			
		</div>
		
		
	</main>
	
	
	<script>
		
		const repassEmailErr1 = document.body.dataset.repassEmailErr1;
		
		if (repassEmailErr1) window.alert(repassEmailErr1);
		
	</script>


</body>
</html>