<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録確認画面 | 予約者</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	
	<header th:replace="~{/users/layouts/layout :: common_header_before}">
		
		
	</header>
	
	
	
	<main>
		
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">会員登録確認</h2>
				
			</div>
			
			<div class="sub-link">
				
				<a th:href="@{/users/login}">ログインへ</a>
				
			</div>
			
			
		</div>
		
		
		
		
		<div class="container">
			
			
			<form th:action="@{/users/signup}" method="post" th:object="${signUpFormInfo}" class="form">
				
				<div>
					
					<label>ユーザーネーム</label>
					<input type="hidden" th:field="*{userName}" value="${userName}" /><span th:text="*{userName}"></span>

				</div>

				<div>
					
					<label>email</label>
					<input type="hidden" th:field="*{email}" value="${email}" /><span th:text="*{email}"></span>
				
				</div>
				
				<div>
					
					<label>パスワード</label>
					<input type="hidden" th:field="*{pass}" value="${pass}" required /><span>パスワードは表示されません</span>

				</div>

				
				<div class="submit-btns">
					
					<button type="button" onclick="window.location.href='/users/signup/return'">修正</button>	
					<input type="submit" value="登録" />

				</div>

				
			</form>
			

			
			
		</div>
		
		
	</main>


</body>
</html>