<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録確認画面 | 予約者</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	
	<header th:replace="~{/users/layouts/layout :: common_header_before}">
		
		
	</header>
	
	
	
	<main>
		
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2 class="sub-title">会員登録確認</h2>
				
			</div>
			
			<div class="sub-link">
				
				<a th:href="@{/users/login}">ログインへ</a>
				
			</div>
			
			
		</div>
		
		
		
		
		<div class="container">
			

			
			
		</div>
		
		
	</main>


</body>
</html>