@charset "UTF-8";


a {
	text-decoration: none;
}

.container {
	max-width: 1080px;
	margin: 40px auto;
}

.table_cover {
	overflow-x: auto;
	flex-wrap: nowrap;
}

/* 面談実施者別、予約枠状況取得 テーブル
========================================== */


.table {
	width: 100%;
	border-collapse: collapse;
	border: solid 1px rgb(128, 128, 128);
	margin: 30px auto;
}

.inter_slot_table th,
.inter_slot_table td {
	font-size: 1rem;
	border-right: solid 1px rgb(128, 128, 128);
	border-bottom: solid 1px rgb(128, 128, 128);
	padding: 4px;
}

.inter_slot_table th {
	background-color: rgb(129, 193, 228);
	color: rgb(128, 128, 128);
}

.inter_slot_table td {
	text-align: center;
	color: rgb(0, 128, 192);
}

.inter_slot_table th.th_white {
	border-bottom: none;
}

.inter_slot_table tbody th {
	border-top: solid 1px rgb(128, 128, 128);
}

.inter_slot_table td a {
	color: rgb(0, 128, 192);
}

.entry_btn {
	margin: 15px 0;
}



