@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.site-title {
	font-size: 1.4rem;
	font-weight: bold;
}

.sub-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.container {
	max-width: 960px;
	margin: 40px auto;
}


.form {
	margin-bottom: 40px;
}

.form label,
.form input {
	margin-top: 20px;
}

.form label:first-child,
.form input:first-child {
	margin-top: 0;
}

.form label {
	margin-right: 5px;
}

.form .submit-btns {
	text-align: right;
	margin-top: 25px;
}

.form .submit-btns input {
	color: #FFF;
	background-color: #2D88FF; 
	border: none;
	padding: 3px 10px;
}

#header {
	color: #FFF;
	background-color: #A1A1A1;
}

.header-inner {
	padding: 25px 40px;
	margin-bottom: 40px;
}


#sub_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 40px;
}

