@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');


/* 全体共通設定
============================== */

* {
	padding: 0;
	margin: 0;
}


body {
	font-size: 1rem;
	font-family: "Shippori Mincho", serif;
	font-weight: 400;
	font-style: normal;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.site-title {
	font-size: 1.4rem;
	font-weight: bold;
}

.sub-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.container {
	max-width: 960px;
	padding: 13px;
	margin: 40px auto;
}


/* エラーメッセージ共通設定
============================== */

.err {
	color: #F00;
}


/* 更新/退会ボタン(フォーム外）共通設定
============================== */

.link-btns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 24px 0 40px 0;
}

.link-btns p {
	margin-left: 30px;
}

.link-btns p a {
	color: #FFF;
	background-color: #2D88FF;
	padding: 3px 8px;
}

.link-btns p:first-child {
	margin-left: 0;
}


/* フォーム共通設定
============================== */

.form {
	margin-bottom: 40px;
}

.form label,
.form input {
	margin-top: 20px;
}

.form label:first-child,
.form input:first-child {
	margin-top: 0;
}

.form label {
	margin-right: 5px;
}

.form .submit-btns {
	text-align: right;
	margin-top: 25px;
}

.form .submit-btns input,
.form .submit-btns button {
	color: #FFF;
	background-color: #2D88FF; 
	border: none;
	padding: 3px 10px;
}

#repass_email_link {
	text-align: right;
	margin: 20px 0;
}


/* テーブル共通設定
============================== */

.table {
	margin-bottom: 40px;
}

.table tr {
	display: block;
	margin-top: 20px;
}



.table tr:first-child {
	margin-top: 0;
}

.table tr .tr-title {
	display: inline-block;
	margin-right: 40px;
}

.table tr .tr-text {
	display: inline-block;
	margin-left: 40px;
}

.list-table {
	border: solid 1px #747474;
	border-collapse: collapse;
	margin: 0 auto;
}

.list-table th,
.list-table td {
	text-align: center;
	border-left: solid 1px #747474;
	border-bottom: solid 1px #747474;
	padding: 10px 25px;
}

.list-table th {
	color: #FFF;
	background-color: #00489A;
}

.list-table td a {
	color: #657EFF;
}

.reservation-ables-table-cover {
	overflow-x: auto;
	white-space: nowrap;
}

.reservation-ables-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
}

.reservation-ables-table th,
.reservation-ables-table td {
	font-size: 1rem;
	text-align: center;
	color: #FFF;
	padding: 10px 25px;
}

.reservation-ables-table th {
	background-color: #00489A;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	white-space: nowrap;
}


.reservation-ables-table td {
	border-right: 1px solid #747474;
	border-bottom: 1px solid #747474;
}

.reservation-ables-table td .able {
	font-size: 1.2rem;
	font-weight: 600;
	color: #657EFF;
}

.reservation-ables-table td .unable {
	font-size: 1.3rem;
	font-weight: 600;
	color: #FF6589;
}




/* ヘッダー共通設定
============================== */

#header {
	width: 100%;
	color: #FFF;
	background-color: #A1A1A1;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 40px;
	margin-bottom: 40px;
}

#pc_nav {
	display: block;
}

.header-list {
	display: flex;
	align-items: center;
}

.header-list li {
	color: #FFF;
	margin-left: 13px;
}

.header-list li a {
	color: #FFF;
}

#sp_nav {
	display: none;
}

.hamburgers-wrapper {
	display: none;
}

/* フッター共通設定
============================== */
#footer {
    width: 100%;
	color: #FFF;
    background: #A1A1A1;
}

.footer-inner {
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
    margin-bottom: 30px;
}

#copy {
	font-size: 0.7rem;
	text-align: center;
	padding: 40px;
}

.footer-list {
    flex-direction: column;
}

.footer-list li {
	margin-bottom: 20px;
}

.footer-list li:last-child {
	margin-bottom: 0;
}

.footer-list li a {
    color: #FFF;
}

/*.footer-list a:hover {*/
/*    text-decoration: underline;*/
/*}*/



/* メイン部分上部表示、共通設定
============================== */

.page-main-tops {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.add-btn {
	text-align: right;
	margin: 24px 40px 40px 40px;
}

.add-btn p a {
	color: #FFF;
	background-color: #2D88FF;
	padding: 3px 8px;
}


/* 紹介リスト、共通設定
============================== */

.intro-list-cover {
	max-width: 760px;
	text-align: center;
}

.intro-list {
	display: inline-block;
	list-style: none;
	text-align: left;
}

.intro-list li p {
	font-size: 1rem;
}

.intro-list li .intro-title {
	font-size: 1.1rem;
	font-weight: 500;
	margin-bottom: 3px;
}

.intro-list li .intro-sub-title {
	font-size: 0.8rem;
	text-indent: 1.5rem;
	margin-bottom: 25px;
}

.intro-list li p:last-child {
	text-align: right;
	margin-bottom: 40px;
}

.intro-list li:last-child p:last-child {
	margin-bottom: 0;
}

.intro-list li p a {
	font-size: 0.9rem;
	text-decoration: none;
	color: #2D88FF;
	border-bottom: 1px solid #2D88FF;
	padding-bottom: 3px;
}

.intro-list li p a:hover {
	opacity: 0.7;
}

.intro-list li p a:active {
	opacity: 0.6;
}


/* 小型端末など表示、共通設定
============================== */

@media screen and (max-width: 1024px) {
	
	.header-inner {
		padding: 25px 7px;
	}
	
	.footer-inner {
	    padding: 16px 20px;
	    flex-direction: column;
	    gap: 12px;
	    text-align: center;
	}
	.footer-links {
	    justify-content: center;
	}
	
	.hamburgers-wrapper {
		position: absolute;
		top: 30px;
		right: 7px;
		display: block;
		width: 40px;
		height: 16px;
		z-index: 99;
	} 
	
	.hamburgers {
		display: block;
		border: none;
		color: inherit;
		background: none;
		width: 100%;
		height: 100%;
		padding: 0;
	}
	
	.hamburger-border {
		width: 100%;
		display: block;
		height: 2px;
		background-color: #FFF;
		transition: transform 0.6s;
		-webkit-transition: transform 0.6s;
		-moz-transition: transform 0.6s;
		-ms-transition: transform 0.6s;
		-o-transition: transform 0.6s;
	}
	
	.hamburger-border:nth-child(2) {
		margin-top: 8px;
	}
	
	.hamburger-border:last-child {
		margin-top: 8px;
	}
	
	.hamburgers-wrapper.click-on .hamburgers .hamburger-border:first-child {
		transform: translate(0px, 9px) rotate(45deg);
		-webkit-transform: translate(0px, 9px) rotate(45deg);
		-moz-transform: translate(0px, 9px) rotate(45deg);
		-ms-transform: translate(0px, 9px) rotate(45deg);
		-o-transform: translate(0px, 9px) rotate(45deg);
	}
	
	.hamburgers-wrapper.click-on .hamburgers .hamburger-border:nth-child(2) {
		opacity: 0;
	}
	
	.hamburgers-wrapper.click-on .hamburgers .hamburger-border:last-child {
		transform: translate(0px, -9px) rotate(-45deg);
		-webkit-transform: translate(0px, -9px) rotate(-45deg);
		-moz-transform: translate(0px, -9px) rotate(-45deg);
		-ms-transform: translate(0px, -9px) rotate(-45deg);
		-o-transform: translate(0px, -9px) rotate(-45deg);
	}
	
	#pc_nav {
		display: none;
	}
	
	#sp_nav {
		display: none;
	}
	
	#sp_nav.open {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100vh;
		display: block;
		background-color: rgba(0, 0, 0, 0.8);
		animation-name: menu-fadeopen-anime;
		animation-duration: 0.6s;
		opacity: 1;
		transition: 0.6s all;
		-webkit-transition: 0.6s all;
		-moz-transition: 0.6s all;
		-ms-transition: 0.6s all;
		-o-transition: 0.6s all;
	}
	
	
	@keyframes menu-fadeopen-anime {
		
		from {
			opacity: 0;
		}
		
		to {
			opacity: 1;
		}
		
	}
	
	
	#sp_nav.open .header-list {
		width: 100%;
		display: block;
		flex-direction: column;
		text-align: left;
		padding: 40px 0 0 0;
	}
	
	#sp_nav.open .header-list li {
		margin: 0 0 20px 40px;
	}
	
	#sp_nav.open .header-list li:first-child {
		margin: 0 0 30px 40px;
	}
	
	
	
	.page-main-tops {
		padding: 0 10px;
	}
	
}

